@using Microsoft.AspNet.Identity
@using WebApplication1.Models;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        var db = new ApplicationDbContext();
        var UserId = User.Identity.GetUserId();
        var UserRoleId = db.Users.Find(UserId).Roles.Select(a => a.RoleId).SingleOrDefault();
        var UserRoleName = db.Roles.Find(UserRoleId).Name;
        var CurrentUser = db.Users.Find(UserId);

        @Html.AntiForgeryToken()
        @*<ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navDropDownUser">
                    @*<span class="glyphicon glyphicon-user"></span>
                    <strong>Welcome: @CurrentUser.UserName</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>*@
                    @* <i class="fas fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="navbar-user">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (UserRoleName == "Clients")
                                    {
                                        <a href="~/Orders/GetOrdersByUser" class="btn btn-defaultX btn-block">Your Orders</a>
                                    }
                                    else if (UserRoleName == "Employees")
                                    {
                                        <a href="~/Account/EmployeeTasksView" class="btn btn-defaultX btn-block">Go To Tasks</a>
                                    }
                                    else if (UserRoleName == "Admins")
                                    {
                                        <a href="~/Account/ManagerTasksView" class="btn btn-defaultX btn-block">Go To Tasks</a>
                                    }
                                    <a href="~/Account/EditProfile" class="btn btn-defaultX btn-block">Edit Account</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="navbar-user">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <a href="javascript:document.getElementById('logoff').submit()" class="btn btn-default btn-block">
                                            <i class="glyphicon glyphicon-log-out"></i> Sign out
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>*@


        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown nav-item">
                @*<li>
                    <a href="@Url.Action("MyCart", "Cart")" style="background-color:darkred">
                        <span class="glyphicon glyphicon-shopping-cart" style="color:bisque;font-size:x-large;"></span>
                        <span class="badge">@Session["count"]</span>
                    </a>
                </li>*@
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="fas fa-user-circle"></i> @*font size for this is in sass*@
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                    @if (UserRoleName == "Clients")
                    {
                        <a href="~/Orders/GetOrdersByUser" class="dropdown-item">
                            <i class="fas fa-sign-in-alt"></i> Your Orders
                        </a>
                    }
                    else if (UserRoleName == "Employees")
                    {
                        <a href="~/Account/EmployeeTasksView" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Tasks
                        </a>
                    }
                    else if (UserRoleName == "Admins")
                    {
                        <a href="~/Account/ManagerTasksView" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Tasks
                        </a>
                    }
                    <a href="~/Account/EditProfile" class="dropdown-item">
                        <i class="material-icons">content_paste</i> Account
                    </a>
                    <a href="javascript:document.getElementById('logoff').submit()" class="dropdown-item">
                        <i class="material-icons">content_paste</i> Sign out
                    </a>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown nav-item pt-2">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="fas fa-user-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-with-icons">
                <a href="~/Account/Login" class="dropdown-item">
                    <i class="fas fa-sign-in-alt"></i> Log in
                </a>
                <a href="~/Account/Register" class="dropdown-item">
                    <i class="material-icons">content_paste</i> Sign up
                </a>
            </div>
        </li>
    </ul>
}

