@import "variables"

a
    +transition(all 350ms ease-out)
.form-check .form-check-input:checked+.form-check-sign .check 
    background: #9c27b0
.navbar 
    &.fixed-top
        opacity: .9
    .navbar-brand 
        img  
            height: 65px
            padding: 0
            margin: 0
            top: -15px
            position: relative
    .navbar-nav 
        .nav-item 
            .nav-link
                font-size: 16px
                color: $primary-color
                &:hover
                    color: lighten($primary-color, 20%)
            svg
                font-size: 26px
                margin-right: 4px
    &.navbar-transparent
        .nav-item 
            .nav-link
                color: #fff
                &:hover
                    color: lighten($primary-color, 30%)
        .navbar-brand 
            img  
                height: 80px
                padding: 0
                margin: 0
                top: -20px
                position: relative
        .collapse.link-colors .nav-item .nav-link
            color: $primary-color !important
            &:hover
                color: lighten($primary-color, 15%) !important
.alert
    padding: 10px
    width: 100%
    &.alert-primary
        h1,h2,h3,h4,h5,h6,a
            color: #ccc
        a:hover
            color: #fff
.btn-primary
    background: $primary-color
.card
    .card-footer
        padding: 0px
h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6
    padding: 0 !important
    margin: 10px !important
.index-page .page-header
    background-repeat: no-repeat
    background-size: 100% $page-header-height
    height: $page-header-height 
    background-image: url('../../Images/kit/bg2.jpg')
    .title
        font-size: 50px
    .desc
        max-width: unset
.section
    padding: 0px 0px
section
    width: 100% !important
#main-body
    min-height: 600px
    padding: 0px 0px   
    overflow: hidden
    border-radius: 7px  
#carousel
    .carousel-inner
        .carousel-item
            img
                height: 475px !important
                width: 100% !important
.height300px
    height: 22vh !important
.marginTop30-
    margin-top: -30px !important

#contact
    width: 100%
    form
        width: 100%

#login
    .section
        height: 75vh
        background-size: 100% 100%