@model IEnumerable<Eyewear_Store_System.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="alert alert-primary">
    <h2>Categories</h2>
</div>

<div class="row justify-content-center">
    <div class="col-md-3">
        
            <a class="btn btn-default btn-block" href="~/Categories/Create">
                <i class="fas fa-plus-circle"></i> Create New Category
            </a>
       
        </div>
    </div>
    @if (Model != null && Model.Count() > 0)
    {

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a title="Go to Items" href='@Url.Action("CategoryItems", "Categories",new { id = item.Id })'>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </a>

                    </td>
                    <td>
                        <a title="Edit" href=@Url.Action("Edit", new { id = item.Id })>
                            <i class="fas fa-edit fa-lg"></i>
                        </a> |
                        <a title="Delete" href=@Url.Action("Delete", new { id = item.Id }) onclick="return confirm('Are you sure you want to delete this category?')">
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </a>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <div class="alert">
            <h4 style="font-weight:bolder">
                <span class="glyphicon glyphicon-remove">
                </span> No rows to display!
            </h4>
        </div>
    }
    @switch ((string)ViewBag.Result)
    {
        case "Created":
            {
                <div class="alert alert-success" id="error-div">
                    <i class="fas fa-check"></i>
                    <span> The category has been created successfully.</span>
                </div>
            }
            break;
        case "Edited":
            {
                <div class="alert alert-success" id="error-div">
                    <i class="fas fa-check"></i>
                    <span> The category has been edited successfully.</span>
                </div>
            }
            break;
        case "Deleted":
            {
                <div class="alert alert-success" id="error-div">
                    <i class="fas fa-check"></i>
                    <span> The category has been deleted successfully.</span>
                </div>
            }
            break;
        case "Error":
            {
                <div class="alert alert-danger" id="error-div">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>
                        You can not delete this category!
                    </span>
                </div>
            }
            break;
    }

    @section scripts{
        <script>
            $(document).ready(function () {
                $("#error-div").delay(3000).fadeOut();
            });
        </script>
    }
