
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="form-group">
    <div>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon" style="color:darkred;border-color:darkred;background-color:bisque"><b>Left Eye</b></span>
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="SPH">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="CYL">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="AXIS">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="ADD">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="SPH">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="CYL">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="AXIS">
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon" style="color:darkred;border-color:darkred;background-color:bisque"><b>Right Eye</b></span>
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="Sphere">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="Cylind">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="Axis">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="Addition">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="Sphere">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="Cylind">
                    <input type="text" style="width:25%;border-color:darkred" class="form-control" placeholder="Axis">
                </div>
            </div>

        </div>
    </div>




</div>

