a {
  color: #9c27b0;
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out; }
  a:hover {
    color: #c34cd7; }

input[type="text"] {
  padding: 10px; }

input[type="number"] {
  padding: 10px; }

input[type="password"] {
  padding: 10px; }

select.form-control {
  -webkit-appearance: menulist; }

.form-check .form-check-input:checked + .form-check-sign .check {
  background: #9c27b0; }

.navbar.fixed-top {
  opacity: .9; }

.navbar .navbar-brand img {
  height: 65px;
  padding: 0;
  margin: 0;
  top: -15px;
  position: relative; }

.navbar.navbar-transparent .nav-item span.badge {
  border-color: #ccc;
  color: #ccc; }

.navbar.navbar-transparent .nav-item .nav-link, .navbar.navbar-transparent .nav-item #navDropDownUser {
  color: #fff !important; }
  .navbar.navbar-transparent .nav-item .nav-link:hover, .navbar.navbar-transparent .nav-item #navDropDownUser:hover {
    color: #d88be5 !important; }
  .navbar.navbar-transparent .nav-item .nav-link:after, .navbar.navbar-transparent .nav-item #navDropDownUser:after {
    padding: 0;
    margin: 0; }

.navbar.navbar-transparent .navbar-brand img {
  height: 80px;
  padding: 0;
  margin: 0;
  top: -20px;
  position: relative; }

.navbar.navbar-transparent .collapse.link-colors input[name="searchName"] {
  position: relative;
  top: -50px;
  left: 0px;
  background: #fff; }

.navbar.navbar-transparent .collapse.link-colors .nav-item span.badge {
  border-color: #9c27b0;
  color: #9c27b0;
  position: relative;
  right: -60px;
  top: -57px; }

.navbar.navbar-transparent .collapse.link-colors .nav-item .nav-link, .navbar.navbar-transparent .collapse.link-colors .nav-item #navDropDownUser {
  color: #9c27b0 !important; }
  .navbar.navbar-transparent .collapse.link-colors .nav-item .nav-link:hover, .navbar.navbar-transparent .collapse.link-colors .nav-item #navDropDownUser:hover {
    color: #c34cd7 !important; }

.navbar .navbar-nav .nav-item {
  max-height: 58px; }
  .navbar .navbar-nav .nav-item .badge {
    position: relative;
    right: -46px;
    top: -50px;
    color: #9c27b0;
    background: none;
    border: 1px solid #9c27b0;
    padding: 4px;
    line-height: 6px; }
  .navbar .navbar-nav .nav-item .nav-link, .navbar .navbar-nav .nav-item #navDropDownUser {
    font-size: 16px;
    color: #9c27b0; }
    .navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item #navDropDownUser:hover {
      color: #ca61dc; }
  .navbar .navbar-nav .nav-item svg {
    font-size: 26px;
    margin-right: 4px; }

.navbar .dropdown-menu.show {
  padding: 5px 0px;
  margin: 0;
  left: -90px; }
  .navbar .dropdown-menu.show input[name="searchName"] {
    width: 250px;
    padding: 10px;
    border-top: 1px solid #ccc; }
  .navbar .dropdown-menu.show a svg {
    margin-right: 15px; }

.alert {
  padding: 10px;
  width: 100%; }
  .alert.alert-primary h1, .alert.alert-primary h2, .alert.alert-primary h3, .alert.alert-primary h4, .alert.alert-primary h5, .alert.alert-primary h6, .alert.alert-primary a {
    color: #ccc; }
  .alert.alert-primary a:hover {
    color: #fff; }

.btn-primary {
  background: #9c27b0; }

.card .card-footer {
  padding: 0px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  padding: 0 !important;
  margin: 10px !important; }

.index-page .page-header {
  background-repeat: no-repeat;
  background-size: 100% 60vh;
  height: 60vh;
  background-image: url("../../Images/kit/b1.jpg"); }
  .index-page .page-header .title {
    font-size: 50px; }
  .index-page .page-header .desc {
    max-width: unset; }

.section {
  padding: 0px 0px; }

section {
  width: 100% !important; }

#main-body {
  min-height: 600px;
  padding: 0px 0px;
  overflow: hidden;
  border-radius: 7px; }

#carousel .carousel-inner .carousel-item img {
  height: 475px !important;
  width: 100% !important; }

.height300px {
  height: 22vh !important; }

.marginTop30- {
  margin-top: -30px !important; }

#contact {
  width: 100%; }
  #contact form {
    width: 100%; }

#login .section {
  height: 75vh;
  background-size: 100% 100%; }

#managerTasks h3 {
  border: 0px solid #ccc; }
  #managerTasks h3:hover:before {
    content: "\f0da";
    -webkit-transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    -ms-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
    font-family: 'FontAwesome';
    padding-right: 10px; }

.modal-backdrop {
  z-index: unset; }

.modal-content.panel.panel-primary {
  top: 20px; }
